Package: com.iosre.phonespeakertest
Name: phoneSpeakerTest
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: peterpan
Author: peterpan
Section: Tweaks
Version: 0.0.1-21+debug
Installed-Size: 200
