Package: com.iosre.springboardflashcolor
Name: SpringBoardFlashColor
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: peterpan
Author: peterpan
Section: Tweaks
Version: 0.0.1-13+debug
Installed-Size: 72
