Package: com.iosre.cameraretest
Name: cameraReTest
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: peterpan
Author: peterpan
Section: Tweaks
Version: 0.0.1-7+debug
Installed-Size: 72
